{% extends "base1.html" %}
{% block bodyContent %}

<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
              <div class="mt-3 mb-4 text-center">
                <img src="/static/images/user-icon-placeholder.png"
                  class="rounded-circle img-fluid" style="width: 100px;padding: 2px;
    border: 2px solid #28a745;" />
              </div>
              <h4 class="mb-2 text-center">Welcome, {{ session.get('name') }}</h4>      
              <div class="container">
                <div class="col-md-12">
                    <!-- <p class="awesome-header" style="font-size: 18px;">Asset Permissions</p>   -->
                        <a href="/search_assets">
                            <button type="button" class="btn btn-success">Search</button>
                        </a>  
                    <a href="/add_asset">
                        <button type="button" class="btn btn-success">Add</button>
                    </a>  
                <!-- <a href="/bulk_upload">
                    <button type="button" class="btn btn-success">Bulk Upload</button>
                </a>   -->
            <a href="/asset_life_cycle">
                <button type="button" class="btn btn-success">Life Cycle</button>
            </a>  
                    <!-- Add other conditions based on the available permissions for IT Assets -->
                </div>
                <br>
            
                </div>
                <br>

                <!-- <div class="col-md-12">
                  <p class="awesome-header" style="font-size: 18px;">Logs</p>
                  <div class="log-container" style="height: 300px; overflow-y: auto;">
                      <pre>{{ log_content }}</pre>
                  </div>
              </div> -->
              

            </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>

{% endblock %}
